# ==============================================
# EMAIL CONFIGURATION (Nodemailer) - GoDaddy/Titan
# ==============================================

SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_SECURE=true

SMTP_USER=play@komalkids.com
SMTP_PASS=Rayaranyo69!

# IMPORTANT: keep FROM the same as SMTP_USER to avoid deliverability issues
SMTP_FROM="KOMAL" <play@komalkids.com>
